body{
    margin: 0;
    padding: 50px;
    background-color: #090b1a ;

}
/*container*/
section{
    background-color: #1b1938;
    border-radius: 8px;
    margin: 100px 200px 0 200px;
    height: 370px;
}
.cardImage{
    max-width: 100%;
    width: 450px;
	opacity: 60%;
    background-blend-mode: multiply;
    background-color:  hsl(277, 64%, 61%);
    float: right;
    height: 370px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    background-image: url(img/image-header-desktop.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
}

/* content/headings */
.mainHeading{
    padding: 40px 0 0 50px;
    margin: 0;
    font-family: 'Inter', sans-serif;
    font-size: 30px;
    color: hsl(0, 0%, 100%);
}
span{
    color: hsl(277, 64%, 61%);
}
/*content*/
p{
    padding: 10px 0 0 50px;
    width: 40%;
    color: hsla(0, 0%, 100%, 0.75);
    font-family: 'Lexend Deca', sans-serif;
    font-size: 15px;
    line-height: 1.5em; /*height between lines*/
}
.stats{
    display: flex;
    justify-content: center;
    margin-left: 50px;

}
.statsHeading{
    color:  hsla(0, 0%, 100%, 0.85);
    padding: 0;
    margin: 30px 80px 0 0;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: bold;
}
.content{
    color: hsla(0, 0%, 100%, 0.6);
    text-transform: uppercase;
    font-family: 'Lexend Deca', sans-serif;
    font-size: 13px;
    font-weight: 400;
}
/*end code*/
.attribution {
    color: white;
    font-family: 'Lexend Deca', sans-serif;
    font-style: italic;
    font-size: 15px;
    text-align: center;
}
.attribution a{
    text-decoration: none;
    color: hsl(277, 64%, 61%);
}
/*responsive design*/

@media (max-width: 400px){
    
    /*for mobile phones*/
    body{
        margin: 0;
        padding: 0;
    }
    section{
        margin: 60px 30px 0px 30px;
        height: 800px;
        border-radius: 10px;
    }
    .cardImage{
        /*background-image: url(img/image-header-mobile.jpg);*/
        border-radius: 10px 10px 0 0;
        background-size: 100%;
        height: 30%;
    }
    .mainHeading{
        display: inline-block;
        font-size: 25px;
        margin: 20px;
        padding: 25px;
        text-align: center;
    }
    p{
        padding: 0 10px 0 10px;
        margin: 0 0 0 20px;
        justify-content: center;
        font-size: 15px;
        width: 80% ;
        text-align: center;
    }
    .stats{
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0 0 0 30px;
        margin: 0px 30px 0 30px;
    }
    .statsHeading{
        line-height: 1em;
        padding-left: 10px;
    }
}
